name: ci/cd

on:
  push:
    branches:
      - "master"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context: [app, database, payment_gateway, reverse_proxy]
    steps:
      #copy the repo
      - name: Check out the repo
        uses: actions/checkout@v2
      #login into the dockerhub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      #create and push the images
      - name: Build and push ${{ matrix.context }}
        uses: docker/build-push-action@v2
        with:
          context: ./${{ matrix.context }}
          push: true
          tags: dhiguitaa/${{ matrix.context }}_fp:latest, dhiguitaa/${{ matrix.context }}_fp:${{ github.sha }}
  #deploy the app
  aws:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      #add credentials aws
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      #start the ec2
      - name: start the instance
        run: |
          aws ec2 start-instances --instance-ids ${{ secrets.INSTANCE_ID }}  
          
      - name: Execute ssh commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.ATSEA_KEY }}
          timeout: 60s
          script: | 
            ls -la 
            cd /home/ec2-user/atsea-sample-shop-app
            git pull
            docker-compose --version
            
      - name: Trigger end to end tests
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ secrets.USER_NAME }}/${{ secrets.REPO }}/dispatches \
          --header 'authorization: Bearer ${{ secrets.ACCESS_TOKEN }}' \
          --header 'Accept: application/vnd.github.v3+json' \
          --data '{
            "event_type": "deployed"
            }' \
          --fail
