name: ci/cd

on:
  push:
    branches:
      - "master"

jobs:
  # create images
  docker:
    runs-on: ubuntu-latest
    steps:
      #copy the repo
      - name: Check out the repo
        uses: actions/checkout@v2
      #login into the dockerhub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      #create and push the images
      - name: Build and push app
        uses: docker/build-push-action@v2
        with:
          context: ./app
          push: true
          tags: dhiguitaa/app_fp:latest, dhiguitaa/app_fp:${{ github.sha }}
      - name: Build and push database
        uses: docker/build-push-action@v2
        with:
          context: ./database
          push: true
          tags: dhiguitaa/database_fp:latest, dhiguitaa/database_fp:${{ github.sha }}
      - name: Build and push payment_gateway
        uses: docker/build-push-action@v2
        with:
          context: ./payment_gateway
          push: true
          tags: dhiguitaa/payment_gateway_fp:latest, dhiguitaa/payment_gateway_fp:${{ github.sha }}
      - name: Build and push reverse_proxy
        uses: docker/build-push-action@v2
        with:
          context: ./reverse_proxy
          push: true
          tags: dhiguitaa/reverse_proxy_fp:latest, dhiguitaa/reverse_proxy_fp:${{ github.sha }}
  # deploy the app
