name: ci/cd
on:
  push:
    branches:
      - "test/aws"
jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context: [app, database, payment_gateway, reverse_proxy]
    steps:
      #copy the repo
      - name: Check out the repo
        uses: actions/checkout@v2
      #login into the dockerhub
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      #create and push the images
      - name: Build and push ${{ matrix.context }}
        uses: docker/build-push-action@v2
        with:
          context: ./${{ matrix.context }}
          push: true
          tags: dhiguitaa/${{ matrix.context }}_fp:latest, dhiguitaa/${{ matrix.context }}_fp:${{ github.sha }}
