name: CI with Docker

on:
  push:
    branches:
      - "master"

jobs:
  dockerHub:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build app
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          file: refs/heads/master/app/Dockerfile
          tags: dhiguitaa/final_project:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
