name: aws

on:
  push:
    branches:
      - "test/aws"

jobs:
  aws:
    # needs: docker
    runs-on: ubuntu-latest
    env:
      USER_NAME: Epalaciol
      REPO: atsea_shop_test
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      #add credentials aws
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      #start the ec2
      - name: start the instance
        run: |
          aws ec2 start-instances --instance-ids ${{ secrets.INSTANCE_ID }}

      - name: test send commands
        run: |
          aws ec2 get-console-output --instance-id ${{ secrets.INSTANCE_ID }} --output text 
          
      - name: Trigger end to end tests
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ env.USER_NAME }}/${{ env.REPO }}/dispatches \
          --header 'authorization: Bearer ${{ secrets.ACCESS_TOKEN }}' \
          --header 'Accept: application/vnd.github.v3+json' \
          --data '{
            "event_type": "deployed"
            }' \
          --fail
